@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranSans;
  src: url(./fonts/Sans\ a4fran3.ttf);
}

@font-face {
  font-family: cinema;
  src: url(./fonts/Cinema\ Font.ttf);
}
@font-face {
  font-family: negar;
  src: url(./fonts/ANegaar.ttf);
}
body {
  background-color: #f1f1f1;
  height: auto;
  overflow-x: hidden;
  direction: rtl;
  overflow-x: hidden;
}

ion-icon {
  font-size: 24px;
}

.shim-green {
  position: relative;
  overflow: hidden;
  background-color: rgba(166, 177, 225, 0.7);
}
.shim-green::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 2s ease-out infinite;
  content: '';
}

.shim-blue {
  position: relative;
  overflow: hidden;
  background-color: rgba(166, 177, 225, 0.7);
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

.wrapper-menu {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  direction: ltr;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
  direction: ltr;
}

.line-menu {
  background-color: rgba(166, 177, 225, 1);
  direction: ltr;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
  direction: ltr;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  direction: ltr;
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
  direction: ltr;
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  direction: ltr;
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
  direction: ltr;
}
